html, body {
  background-color: #f0f0f0; 
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head {
  color: #333; 
}

.calculator {
  border: 1px solid #999; 
  background-color: #333; 
  height: fit-content;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ac {
  grid-column: span 2;
}

.equal {
  grid-column: span 2;
}

.result {
  text-align: right;
  grid-column: span 4;
  background-color: #222; 
  height: 50px;
  padding: 10px;
  padding-right: 30px;
  font-size: 20px;
  color: white; 
}

.result-val {
  font-size: 30px;
  position: relative;
  z-index: 10;
  color: white; 
}

.btn {
  height: 90px;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #444; 
  transition: background-color 0.3s ease;
  color: #fff; 
}

.btn2 {
  background-color: #777;
  border-radius: 0px;
  border: 1px solid;
  color: white;
}

.equal,
.ac {
  background-color: #ff8c00; 
}

.division,
.multiply,
.add,
.subtraction,
.dot {
  background-color: #555; 
  color: white; 
}

.delete {
  background-color: #333; 
  color: white; 
}
